#upheader {
    display: flex;
    padding: 8px 0;
    background-color: #1f272b;
    height: 41px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}


.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.198);
    margin-right: 100px;
    width: 100%;
    list-style-type: none;
    /* border: 100px solid inherit; */
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgba(245, 245, 245, 0.244);

}
.col-12{
    display: flex;
    justify-content: space-between;
    /* margin-right: 55%; */


}

.menu{
    display: flex;
    flex-direction: right;
    justify-content: space-around;
    /* margin-right: 0; */
    align-items:  baseline;
    width: 41%;
    list-style-type: none;
}